
/* Game Board Buttons */
.game-board .cell button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--text-secondary);
    text-align: center;
    font-size: calc(3vw + 1rem); 
    cursor: pointer;

    &:hover {
        background-color: var(--highlight);
    }
}
/* Navigation Buttons */
.nav-button {
    @include button-style(var(--btn-nav-bg), var(--btn-nav-hover));
    // specify other specific styles for navigation buttons, such as width, margin, etc.
}

/* Modal Buttons */
.modal-button {
    @include button-style(var(--btn-modal-bg), var(--btn-modal-hover));
    // specify other specific styles for modal buttons, such as width, margin, etc.
}

