/* Main Content */
main {
  grid-area: main;
  display: block;  // some browsers treat main as inline, so we ensure it's block level
  width: 100%; // ensure the main content takes up the full width of the viewport
  margin: 0 auto; // center the content if the viewport is wider than max-width
}
  

